<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Create a Custom Postcard!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <h1>Ship your package</h1>

        <a href="/parcels/new">Add my parcels.</a><br>
        <a href="/parcels">See my parcels.</a>
    </body>
</html>